@* @if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script sec="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <srcipt type="text/javascript">
        toastr.success('@TempData["success"]');
    </srcipt>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script sec="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <srcipt type="text/javascript">
        toastr.success('@TempData["error"]');
    </srcipt>
}
 *@
@if (TempData["success"] != null)
{
    <h2 class="text-danger">@TempData["success"]</h2>
}
@if (TempData["success"] != null)
{
    <h2 class="text-danger"> @TempData["error"]</h2>
}